.left, .right {
    position: fixed;
    top: 0;
    display: inline-block;
    width: 50vw;
    height: 100vh;
    z-index: -1;
    transition: width 0.7s;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color: #253069;
//    background-color: black;
}

.whole {
    background-image: linear-gradient(#2c3e50, #bdc3c7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    z-index: -2;
}

.container {
    margin: 75px 50px 75px 50px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 9rem;
    line-height: 220px;
    font-weight: 800;
}

.title {
    margin: auto;
    padding: 15px 0 15px 0;
    width: fit-content;
    color: gray;
    transition: all 1s;
}

.title ~ .whole {
    transition: background-image 1s;    
}

.title:hover ~ .left {
    width: 0;
}

.title:hover ~ .right {
    width: 0;
}

.title:hover {
    color: white;
    font-size: 11rem;
}

.title:hover ~ .whole {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.t1:hover ~ .whole {
    background-image: url("images/p-helias.jpg");    
}

.t2:hover ~ .whole {
    background-image: url("images/p-snooze.jpg");    
}

.t3:hover ~ .whole {
    background-image: url("images/p-betches.jpg");    
}

.t4:hover ~ .whole {
    background-image: url("images/p-allpro.jpg");    
}

.t5:hover ~ .whole {
    background-image: url("images/p-cornerstone.jpg");    
}

.t6:hover ~ .whole {
    background-image: url("images/p-taylor.jpg");    
}

.t7:hover ~ .whole {
    background-image: url("images/p-modernmd.jpg");    
}

.t8:hover ~ .whole {
    background-image: url("images/p-storyverse.jpg");    
}

.t9:hover ~ .whole {
    background-image: url("images/p-gts.jpg");    
}

.t10:hover ~ .whole {
    background-image: url("images/p-hennessey.jpg");    
}